header {
    background-color: rgb(205, 166, 166);
}
main {
    background-color: bisque;
}

aside {
     background-color: rgba(239, 220, 215, 0.5); 
}

footer{
    background-color: beige;
}
.container {
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   grid-template-rows: auto 1fr auto;
   height: 100vh;
   gap: 1rem;
   grid-template-areas:
   "cabeza cabeza cabeza"
   "principal principal lado"
   "pie pie pie"
   ;
}
header {
    grid-area: cabeza;
}
main {
    grid-area: principal;
}
aside{
    grid-area: lado;
}
footer{
    grid-area: pie;
}

svg {
    width: 50%;
}
h1, p {
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.borde {
    border-radius: 10px 10px 10px 10px;
}